<!DOCTYPE html>
<html>
  <head>
    <title>CV Anna Jerofejeva</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css"> 
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
  </head>
  <body>
    <section id="profile">
      <h1 id="name">Anna <br/> Jerofejeva</h1>
      <h2 id="profession">Junior Software Developer</h2>
      <img id="photo" src="images/photo.jpg"/>
      <img class="logo" src="images/email.png"/>
      <h4 class="tag">Email:</h4>
      <p id="email">jerofejeva.anna@yahoo.com</p>
      <img class="logo" src="images/phone.png"/>
      <h4 class="tag">Phone:</h4>
      <p id="phone">077 4601 0888</p>
      <img class="logo" src="images/github.png"/>
      <h4 class="tag">Github:</h4>
      <p id="github">annaschechter</p>
      <img class="logo" src="images/linkedin.png"/>
      <h4 class="tag">Linkedin:</h4>
      <p id="linkedin">annaschechter</p>
      <img class="logo" src="images/address.png"/>
      <h4 class="tag">Address:</h4>
      <p id="linkedin">27E Ladbroke Gardens<br/>London<br/>W11 2PY</p>
    </section>

    <section id="main">
      <article class="heading" >
        <img class="heading-icon" src="images/about.png"/>
        <h3 class="heading-tag">About</h3>
      </article>
      <p id="about">An ambitious, dynamic, and creative junior developer looking to embark on a career within the tech industry. Quick learner and a strong problem solver, I enjoy the challenge of learning and working with new programming languages.</p>
      <img class="heading-icon" src="images/education.png"/>
      <h3 class="heading-tag">Education</h3>
      <p class="education">
        <b>BSc in Mathematics</b> (2:1) <br/>King's College London <br/>
      </p>
      <p class="education"> 
        <b>A levels:</b> Mathematics (A*), Further Mathematics (A*), Physics (B) <br/>Simon Langton Girls Grammar School <br/>
      </p>
      <p class="education"> 
        <b>AS levels:</b> Chemistry (B), Business Studies(B), Economics (B), Mathematics(A)<br/>Canterbury College <br/>
      </p>
      <article id="skills"> 
        <img class="heading-icon" src="images/skils.png"/>
        <h3 class="heading-tag">Skills</h3>
        <p id="skills">Languages:
          <i class="skill">Ruby</i>
          <i class="skill">C#</i>
          <i class="skill">JavaScript</i>
          <i class="skill">CoffeeScript</i>
          <i class="skill">jQuery</i>
          <i class="skill">HTML</i>
          <i class="skill">CSS</i>
        <br/>Testing Suites:
          <i class="skill">RSpec</i>
          <i class="skill">Capybara</i>
          <i class="skill">Cucumber</i>
          <i class="skill">NUnit</i>
          <i class="skill">Jasmine</i>
          <i class="skill">Mocha</i>
          <i class="skill">Zombie</i>
        <br/>Frameworks and databases: 
          <i class="skill">Rails</i>
          <i class="skill">Sinatra</i>
          <i class="skill">.NET</i>
          <i class="skill">Node.js</i>
          <i class="skill">AngularJS</i>
          <i class="skill">PostgreSQL</i>
        <br/>Practices:
          <i class="skill">TDD</i>
          <i class="skill">OOP</i>
          <i class="skill">Agile</i>
        </p>
      </article>
      <img class="heading-icon" src="images/languages.png"/>
      <h3 class="heading-tag">Languages</h3>
      <table id="languages">
        <tr>
          <td>Russian: fluent and literate</td>
          <td>Latvian: fluent and literate</td>
        </tr>
      </table>
      <img class="heading-icon" src="images/work.png"/>
      <h3 class="heading-tag">Experience</h3>

        <aside class="job">
          <h5 class="job-title">Makers Academy Coding Bootcamp</h5>
          <p>Makers Academy (London, UK)  SEP 2014 – DEC 2014</p> 
        </aside>
        <p> 
          Learnt and applied the best web development practices on an intensive, 12 week full-time course. Worked on a variety of projects as part of a group; paired with fellow students and coaches and completed individual assignments.
        </p>
        <aside class="job">
          <h5 class="job-title">Part Time Academic Tutor</h5>
          <p>TeamUP charity organisation (London, UK)  SEP 2013 - MAR 2014 </p>
        </aside>
        <p>
          Facilitated the learning of students seeking remedial help and understanding of complex maths concepts. Researched and compiled print and online learning resources to supplement the learning of students attending the tutorial sessions. Monitored and reported on the progress of students to Academic Tutoring Manager to ensure that key program targets were met.
        </p>
        <aside class="job">
          <h5 class="job-title">Part Time Cash Office Administrator</h5>
          <p>Next Retail Ltd (London, UK)  JUL 2011 – OCT 2013</p>
        </aside>
        <p>
          Provided outstanding reception and administrative support to staff working in the flagship store. Handled inventory, reconciled supplier invoices, and processed incoming stock transfers. Completed daily and weekly accounting and banking duties and reconciled transactions to ensure reports were accurate and exceeded standards adopted by third-party auditors. Resolved administrative issues in a professional, timely and diplomatic fashion.
        </p>
    </section>

  </body>
</html>