<!DOCTYPE html>
<html>
  <head>
    <title>CV Anna Jerofejeva</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css"> 
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
  </head>
  <body>
    <section id="profile">
      <h1 id="name">Anna <br/> Jerofejeva</h1>
      <h2 id="profession">Junior Software Developer</h2>
      <img id="photo" src="profile_photo.png">
      <h4 class="tag">Email:</h4>
      <p id="email">jerofejeva.anna@yahoo.com</p>
      <h4 class="tag">Phone:</h4>
      <p id="phone">077 4601 0888</p>
      <h4 class="tag">Github:</h4>
      <p id="github">annaschechter</p>
      <h4 class="tag">Linkedin:</h4>
      <p id="linkedin">annaschechter</p>
    </section>
    <section id="main">
      <h3 id="about-tag">About</h3>
      <p id="about">An ambitious, dynamic, and creative junior developer looking to embark on a career within the tech industry. Quick learner and a strong problem solver, I enjoy the challenge of learning and working with new programming languages.</p>
      <h3 id="education-tag">Education</h3>
      <p id="education">BSc in Mathematics (2:1) <br/>King's College London <br/> Alevels: <br/>Simon Langton Girls Grammar School <br/>Mathematics (A*), Further Mathematics (A*), Physics (B) <br/> AS levels: <br/>Canterbury College <br/>Chemistry (B), Business Studies(B), Economics (B), Mathematics(A)</p> 
      <h3 id="skills-tag">Skills</h3>
      <p id="skills">Languages: Ruby, JavaScript, CoffeeScript, jQuery, HTML5, CSS <br/>
      Testing Suites: Rspec, Capybara, Cucumber, Jasmine, Mocha, Zombie <br/> Frameworks and databases: Rails, Sinatra, Node.js, Angular, PostgreSQL <br/> Practices: TDD, OOP, Agile</p>
      <h3 id="languages-tag">Languages</h3>
      <p id="languages">Russian: fluent and literate <br/> Latvian: fluent and literate</p>
      <h3 id="experience-tag">Experience</h3>
      <p id="experience">Makers Academy Coding Bootcamp <br/>
      Makers Academy (London, UK)  Sep 2014 – Dec 2014 <br/>
      Learning and applying the best web development practices on an intensive, 12 week full-time course. Working on a variety of projects as part of a group; pairing with fellow students and coaches and completing individual assignments. <br/> 

      Academic Tutor <br/>                                                          
      TeamUP charity organisation (London, UK)  Sep 2013 - Mar 2014 <br/>
      Facilitated the learning of students seeking remedial help and understanding of complex maths concepts. Researched and compiled print and online learning resources to supplement the learning of students attending the tutorial sessions. Monitored and reported on the progress of students to Academic Tutoring Manager to ensure that key program targets were met. <br/>

      Cash Office Administrator <br/>
      Next Retail Ltd (London, UK)  Jul 2011 – Oct 2013 <br/>
      Provided outstanding reception and administrative support to staff working in the flagship store. Handled inventory, reconciled supplier invoices, and processed incoming stock transfers. Completed daily and weekly accounting and banking duties and reconciled transactions to ensure reports were accurate and exceeded standards adopted by third-party auditors. Resolved administrative issues in a professional, timely and diplomatic fashion.</p>
    </section>  
    </section> 
    </section>

  </body>
</html>